{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="login_signUp">
        <div class="login_signUp-sign_div">
            <div class="login_margin" id="login_ment">
                Sign in to SECS
            </div>

            <form action="#" method="POST" autocomplete="off">
                {% csrf_token %}
                <div class="login_highMargin">
                    <input type="text" class="input_text" name="id" placeholder=" SECS ID" title="아이디" maxlength="50" value="">
                </div>

                <div class="login_margin">
                    <input type="password" class="input_text" name="pw" placeholder=" Password" title="비밀번호" maxlength="50">
                </div>

                <div class="login_margin">
                    <button type="submit" class="btn_login">
                        <span class="btn_text">Sign in</span>
                    </button>
                </div>

            </form>

            <div class="login_highMargin">
                <p>SECS 계정이 없으신가요? <a id="login-signIn_btn" href="signUp.html">지금 만드세요.</a></p>
            </div>
        </div>
    </div>
{% endblock %}